body {
    background: url("backdrop.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.jumbotron {
    background: none;
    text-shadow: 2px 2px 8px #ffffff;
}

.row {
    display: flex;
}

#me {
    border-radius: 1%;
    padding: 4%;
}

#note {
    float: right;
    width: 20%;
    height: auto;
}

#home {
    display: inline;
}

.polaroid {
    float: left;
    width: 25%;
    border-radius: 1%;
    height: auto;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
}

.caption {
    text-align: center;
    padding: 1% 3%;
}

#notecard {
    width: 100%;
    border-radius: 1%;
    height: auto;
    background: url("index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0%;
    padding: 2%;
}

#notecard2 {
    width: 100%;
    border-radius: 1%;
    height: auto;
    background: url("index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    padding: 2%;
}

#notecard3 {
    width: 30%;
    border-radius: 1%;
    height: auto;
    background: url("index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0%;
    padding: 2%;
}